@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body
{
  font-family: 'Dosis', sans-serif;
  color: rgb(202, 202, 202);
  overflow: hidden;
  background-color: #0C0C0C;
}

/* Caja principal */
main
{
  display: flex;
}


@media only screen and (max-width: 768px)
{
    /* For mobile phones: */
    .welcome
    {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 3;
      opacity: 1;
      width: 100vw;
      height: 100vh;
      animation-delay: 3s;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: title;
      text-align: center;
    }
  
    .welcome a
    {
      color: inherit;
      text-decoration: none;
    }
  
    .welcome a:hover
    {
      color: #F2BCC6;
    }
  
    .welcome h1
    {
      font-size: 1.3rem;
    }
  
    .welcome ul{
      display: none;
      list-style: none;
      padding: 0;
    }
  
    .welcome ul li {
      margin: 0px 5px;
    }
    body{
      background-color: #0C0C0C;
    }


}

@media only screen and (min-width: 768px)
{
  /* For desktop: */
  /* Diseño texto de inicio */
  .welcome
  {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: title;
    text-align: center;
  }

  .welcome a
  {
    color: inherit;
    text-decoration: none;
  }

  .welcome a:hover
  {
    color: #F2BCC6;
  }

  .welcome h1
  {
    font-size: 1.3rem;
  }

  .welcome ul{
    display: none;
    list-style: none;
    padding: 0;
  }

  .welcome ul li {
    margin: 0px 5px;
  }

  /* Diseño general para cajas laterales */
  .box
  {
    width: 100px;
    height: 100px;
  }

  /* Diseño general para circulos centrales */
  .circle-left, .circle-right
  {
    position: absolute;
    top: 40%;
    border-radius: 50%;
    background-color: #0C0C0C;
    width: 200px;
    height: 200px;
    z-index: 1;
  }

  /* Diseño espesifico para caja izquierda */
  .box-left
  {
    background-color: #F2BCC6;
    width: 50vw;
    height: 100vh;
    animation-duration: 3s;
    animation-name: slideLeft;
  }

  /* Diseño espesifico para circulo izquierdo */
  .circle-left
  {
    left: 44.5vw;
    animation-duration: 3s;
    animation-name: circle-left;
  }

  /* Diseño espesifico para caja derecha */
  .box-rigth
  {
    margin-left: auto;
    background-color: #F2CDD0;
    width: 50vw;
    height: 100vh;
    animation-duration: 3s;
    animation-name: slideRight;
  }

  /* Diseño espesifico para circulo derecho */
  .circle-right
  {
    right: 44.5vw;
    animation-duration: 3s;
    animation-name: circle-right;
  }

  /* Animacion para caja izquierda */
  @keyframes slideLeft {
    from {
      width: 0vw;
    }

    to {
      width: 50vw;
    }
  }

  /* Animacion para caja derecha */
  @keyframes slideRight {
    from {
      width: 0vw;
    }

    to {
      width: 50vw;
    }
  }

  /* Animacion para circulo izquierdo */
  @keyframes circle-left {
    from {
      left: -5vw;
    }

    to {
      left: 44.5vw;
    }
  }

  /* Animacion para circulo derecho */
  @keyframes circle-right {
    from {
      right: -5vw;
    }

    to {
      right: 44.4vw;
    }
  }

  /* Animacion para titulo */
  @keyframes title {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Diseño para abrir seccion de contenido */
  .circle-right.animate
  {
    animation: section 0.5s both;
  }

  @keyframes section {
    0% {
      width: 200px;
    }
    100% {
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }
  }
}