.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0,0,0,0.9); /* Black w/ opacity */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}
.close:hover,
.close:focus {
  color: pink;
  text-decoration: none;
  cursor: pointer;
}
/* ****************************************** */
/* ****************************************** */
/* 							START CONTENT  							  */
/* ****************************************** */
/* ****************************************** */
.start-content {
  background-color: transparent;
  color: white;
  margin: auto;
  padding: 20px;
  /*border: 1px solid rgb(61, 61, 61, 0.9);*/
  width: 80%;
  height: auto;
  position: relative;
  vertical-align: top;
  text-align: center;
}
.start-content h2{
  width: 100%;
  text-align: center;
  margin: 15px 0px;
  padding: 2px;
  border-bottom: 1px solid white;
}
.start-content img,article{
  display: inline-block;
  vertical-align: top;
}
.start-content img{
  width: 20%;
  filter: grayscale(80%);
  transition: filter 1s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.2);
}
.start-content img:hover{
  filter: grayscale(25%);
}
.start-content article{
  padding: 0px 20px;
  width: 60%;
}

/* ****************************************** */
/* ****************************************** */
/* 							For tablets: 									*/
/* ****************************************** */
/* ****************************************** */
@media only screen and (max-width: 800px) {
  /* For tablets: */
  .start-content h2{
    font-size: 1.2em;
  }
	.start-content img,article{
    text-align:

	  display: block;
	}
	.start-content img{
	  width: 50%;
	}
	.start-content article{
    margin-top: 10px;
	  width: 100%;
    font-size: 0.8em;
    text-align: justify;
	}
}
/* ****************************************** */
/* ****************************************** */
/* 							ME CONTENT    							  */
/* ****************************************** */
/* ****************************************** */
.me-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.ideas-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.blog-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.talk-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
