@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');

body
{
    background: #424242;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
}
ul
{
    position: absolute;
    margin: auto;
    line-height: 30px;
    
}
ul li
{
    list-style: none;
    display: inline;
    margin-left: 15px; 
}

a
{
    color: white;
    text-decoration: none;
}
header
{
    width: 99vw;
    height: 30px;
}
.navbar
{
    width: inherit;
    height: inherit;
    /* background-color: rgb(255, 191, 72); */
 
}
